.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.product-card .product-title {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.product-card .product-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 0px;
  line-height: 1.4;
}

.product-card ul {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}

.product-card ul li {
  position: relative;
  color: var(--color-primary);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.info-card {
  border-radius: 15px;
  padding: 30px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.info-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}
.info-card ul {
  padding-left: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
}
.info-card ul li {
  position: relative;
  color: #777;
  margin-bottom: 0px;
  font-size: 15px;
}
.info-icon {
  font-size: 45px;
  color: #2575fc;
  margin-bottom: 15px;
}
.info-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--color-primary);
}
.info-text {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 8px;
}

@media (max-width: 1200px) {
  .product-card img {
    height: 160px;
  }
}

@media (max-width: 992px) {
  .product-card img {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .product-card img {
    height: 140px;
  }
}
