@import url("variables.css");

body {
  background: var(--color-white);
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}
.brand-logo {
  width: 120px;
  height: auto;
}
.register-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 35px;
  animation: fadeIn 0.5s ease;
}
.register-card .register-text {
  font-size: 16px;
  color: #666;
  font-weight: 500;
  text-align: center;
  border-bottom: 5px solid var(--color-primary);
  width: 700px;
  padding-bottom: 10px;
  margin-bottom: 2px;
}
.register-form {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 800px;
}
.close-icon {
  position: absolute;
  background: var(--color-white);
  top: -10px;
  right: -10px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s;
}
.register-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.form-control {
  border-radius: 10px;
  padding: 12px;
}

.btn-register {
  width: 100%;
  background: var(--color-yellow);
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  color: var(--color-primary);
  transition: 0.3s;
}

.btn-register:hover {
  background: var(--color-secondary);
}

.link {
  text-decoration: none;
  color: #2575fc;
  font-weight: 500;
}

.center-text {
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: #7d7d7d;
  gap: 40px; /* space between hr and text */
}

.center-text hr {
  flex: 1;
  border: none;
  height: 2px;
  background: #7d7d7d;
}

.center-text span {
  white-space: nowrap;
  font-weight: normal;
  font-size: 16px;
}
.register-container {
  display: flex;
  justify-content: center;
}
.register-link {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
  border: 2px solid var(--color-primary);
  padding: 10px 20px;
  transition: 0.3s;
}
.register-link:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.discount {
  background: #cb2333;
  padding: 5px 10px;
  color: var(--color-white);
  border-radius: 10px;
}
.safe {
  font-size: 14px;
  color: #999;
  margin-top: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
