@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&display=swap");
@import url("variables.css");
/*
1. Root styles
2. Global styles
3. Desktop header styles
4. Header tab mobile styles
 */

/* ========== 1.Root Styles Start ==========  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Root Styles End ==========  */

/* ========== 1.Global Styles Start ==========  */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
}

/* Use !important to override other styles (like Bootstrap) */
.container {
  width: 90% !important;
  /* default width */
  max-width: 1600px !important;
  /* max width */
  margin: 0 auto !important;
  /* center horizontally */

  box-sizing: border-box;
  /* ensure padding is included in width */
}

/* Tablet screens */
@media (max-width: 992px) {
  .container {
    width: 95% !important;
    max-width: 1000px !important;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 20px 10px !important;
  }
}

.text-pr {
  color: var(--color-primary);
}

.text-sm {
  font-size: var(--font-size-sm);
}

/* ========== 1.Global Styles Start ==========  */

/* =============  1.  desktop header ============= */
.header-top {
  background-color: var(--color-black);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
}

.header-top .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-top-links {
  display: flex;
  flex-wrap: wrap;
  /* allows links to move to next line on small screens */
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

.header-top-links a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  border-right: 1px solid #fff;
  padding-right: 15px;
  transition: color 0.3s;
}

.header-top-links a:hover {
  color: green;
}

.header-top-links a:last-child {
  border-right: none;
}

.header-top-right {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* allows wrapping on smaller screens */
  padding: 10px 0;
  font-size: 12px;
}

.header-top img {
  height: 20px;
}



.search {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #000;
  /* underline */
  padding: 5px 0;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  background: transparent;
}

.search i {
  margin-left: 10px;
  color: var(--color-primary);
  font-size: 18px;
}

.login-btn,
.register-btn {
  width: 300px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #000;
  background: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.register-btn {
  background-color: var(--color-secondary);
  border: var(--color-secondary);
  font-weight: bold;
  color: #0000007a;
  transition: all 0.1s ease-in-out;
}

.register-btn:hover {
  background: white;
  border: 2px solid var(--color-secondary);
}

.login-btn {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: bold;
  transition: color 0.1s ease-in-out;
}

.login-btn:hover {
  border: 3px solid var(--color-primary);
}

header .menu-icon {
  display: none;
}

.nav-menu {
  background-color: var(--color-primary);
  font-family: Arial, sans-serif;
}

.nav-menu .nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu .nav-list li {
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
}

.nav-menu .nav-list li a {
  display: flex;
  font-size: var(--font-size-sm);
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 600;
  transition: color 0.3s;
}

.nav-menu .nav-list li:hover {
  background-color: rgba(26, 37, 68, 0.8);
  color: var(--color-white);
}

.nav-menu .nav-list li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  min-width: 200px;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding-top: 10px;
}

.nav-menu .nav-list li .dropdown .list {
  width: max-content;
  max-width: 700px;
  position: relative;
  padding: 15px;
}

.nav-menu .nav-list li .dropdown .list p {
  font-size: 14px;
}

.nav-menu .nav-list li .dropdown .list ul {
  padding: 0px;
}

.nav-menu .nav-list li .dropdown .list ul li {
  padding: 5px 0;
}

.nav-menu .nav-list li .dropdown li {
  padding: 5px;
  position: relative;
}

.nav-menu .nav-list li .dropdown a,
.nav-menu .nav-list li .dropdown-right a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-black);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-menu .nav-list li .dropdown a:hover,
.nav-menu .nav-list li .dropdown-right a:hover {
  color: var(--color-primary);
}

.nav-menu .nav-list li .dropdown a i,
.nav-menu .nav-list li .dropdown-right a i {
  margin: 0;
}

.nav-menu .nav-list li .dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-white);
}

.nav-menu .nav-list li .dropdown li .dropdown-right {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  /* appear to the right */
  background-color: var(--color-white);
  min-width: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  flex-direction: column;
}

.nav-menu .nav-list li:hover>.dropdown {
  display: flex;
}

.nav-menu .nav-list li .dropdown li:hover>.dropdown-right {
  display: flex;
}

.nav-menu .nav-list li .dropdown li:hover {
  background-color: rgba(26, 37, 68, 0.05);
}

/* ================  support section start ================= */
.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-radius: 8px;
  flex-wrap: wrap;
}

.support .support-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  font-weight: 600;
  color: var(--color-primary);
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.support .support-item:hover {
  color: #1c6aef;
}

.support .support-item+.support-item {
  border-left: 1px solid #ccc;
}

.support .support-item i {
  font-size: 24px;
  color: #1a2544;
  min-width: 30px;
  text-align: center;
}

.support .support-item div {
  font-size: 16px;
}

/* ================  support section end ================= */

.footer {
  background-color: var(--color-primary);
}

/* MAIN SECTION */
.hero-section {
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background 0.6s ease-in-out;
  border-radius: 10px;
  height: 380px;
  padding: 0 40px;
  margin-bottom: 40px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  min-height: 300px;
}

/* LEFT CONTENT */
.hero-left h1 {
  font-size: 38px;
  font-weight: bold;
}

.hero-left #slide-title {
  color: var(--color-white);
}

.hero-left #slide-title-2 {
  color: var(--color-yellow);
}

.hero-left #slide-title-3 {
  color: var(--color-white);
}

.hero-left p {
  font-size: 18px;
  margin: 10px 0 25px;
}

/* BULLETS */

.hero-bullets {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.hero-bullets span {
  width: 8px;
  height: 8px;
  background: #ffffff25;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.hero-bullets span.active {
  background: #ffffffff;
  transform: scale(1.2);
}

/* RIGHT FORM */
.hero-right {
  background: transparent;
  padding-top: 50px;
  border-radius: 12px;
}

.hero-form {
  width: 420px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #e5e5e5;
  padding: 40px 30px 70px 30px;
  border-radius: 10px;
}

.hero-form .free-text {
  color: #0997ff;
}

.hero-form h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.hero-form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.hero-form button {
  width: 100%;
  padding: 10px;
  background: var(--color-yellow);
  color: var(--color-primary);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.hero-form button:hover {
  background: #dfdb0cff;
}

.hr-line {
  border-bottom: 5px solid #d1cfcfff;
}

.order-step-card {
  border-radius: 10px;
}

.order-step-card p {
  font-size: 16px;
}

.video-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 10px solid var(--color-primary);
  height: 400px;
}

.testimonial-section p {
  max-width: 900px;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 600;
}

.testimonial-section button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: var(--color-secondary);
  color: #0000007a;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.testimonial-section button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 3px solid var(--color-secondary);
}

.review-btn {
  padding: 12px 25px;
  font-size: 18px;
  background-color: var(--color-secondary);
  color: #0000007a;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.review-btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 3px solid var(--color-secondary);
}

.breadcrumb-section {
  padding: 20px 0;
  background-color: #f8f9fa;
  /* light gray background */
  font-family: "Poppins", sans-serif;
}

/* Breadcrumb nav styling */
.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #555;
}

.breadcrumb a {
  text-decoration: none;
  color: #777;
  transition: color 0.3s;
}

.breadcrumb a:hover {
  color: #0056b3;
}

.breadcrumb .separator {
  margin: 0 8px;
  color: #999;
}

.breadcrumb .current {
  color: var(--color-primary);
}

/* testimonial */
#testimonialCarousel .custom-control {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  top: 50%;
  margin: 0 30px;
  transform: translateY(-50%);
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#testimonialCarousel .custom-control:hover {
  background: #f5f5f5;
}

#testimonialCarousel .custom-control span {
  font-size: 22px;
  color: #000;
}

#testimonialCarousel .carousel-item .card {
  background: #f8f9fa;
  height: 270px !important;
}

.file-up-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-up-section button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  background: var(--color-white);
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

/* mobile search option  start*/

.mobile-search-input {
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  padding: 10px 15px;

}

.mobile-search-input input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 14px;
  font-weight: 400;

}

.mobile-search-input input:focus {
  outline: none;
  box-shadow: none;
}

/* mobile search option  end*/

.logo-icon {
  display: flex !important;
}


/* navbar style for mobile device start  */
.close-icon {
  position: absolute;
  right: 15px;
  /* Adjust based on your layout */
  top: 2%;
  transform: translateY(-50%);
  z-index: 1002;
  /* Higher than menu */
  font-size: 24px;
  cursor: pointer;
}

.menu-icon,
.original-menu-icon,
.close-icon {
  cursor: pointer;
}

/* When menu is active, ensure close icon is visible */
.menu-open .close-icon {
  display: inline-block !important;
  color: #000;
  /* Adjust color as needed */
}

/* Hide the menu icons when menu is open */
.menu-open .menu-icon,
.menu-open .original-menu-icon {
  display: none !important;
}

/* navbar style for mobile device end  */